body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 64px 0 64px;
    background-color: #1f2937;
    color: white;
    
}

.header strong {
    font-size: 24px;
    color:#f9faf8;
}
ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    
}

.hero {
    display: flex;
    padding: 56px;
    justify-content: space-between;
    gap: 20px;
    background-color: #1f2937;
}    

.para {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: auto;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.para p, a {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    width: 100px;
    height: 30px;
    display: block;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    display: flex;
}

button, .under {
    background-color: #3882f6;
    border-color: #f9faf8;
    padding: 2px;
    border-radius: 5px;
    border-style: solid;
}
.img-plc {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7bbc4;
    color: #f9faf8;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 128px;
    gap: 40px
}

.hld {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 140px;
    height: auto;
    gap: 5px;
}

.img-hld {
    width: 140px;
    height: 140px;
    border: 2px solid #3882f6;
    border-radius:  5px ;   
}

.p {
    text-align: center;
}

figure {
    display: flex;
    flex-flow: column wrap;
    padding: 64px 256px;
    align-items: center;
    background-color: #e5e7eb;
    margin: 0;
}

figure p {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}
figcaption {
    align-self: flex-end;
    font-size: 36px;
}

.under {
    margin: 64px 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.under-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    color: #f9faf8;
}

strong {
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color: #1f2937;
    color: #e5e7eb;
}
